# Recitation 5
___

In [252]:
import math

### List Comprehensions

**Write a one-line list comprehension** to find the following sums:

* **`sum1`**: $$ \frac{1}{2} + \frac{1}{4} + \frac{1}{8} + \frac{1}{16} + \cdots + \frac{1}{2^{8}} $$
    
* **`sum2`**: $$1 -\frac{1}{2} + \frac{1}{3} -\frac{1}{4} + \cdots -\frac{1}{20}$$  
  *Hint:* $(-1)^n$ equals $1$ for even $n$, and equals $-1$ for odd $n$
    
    
* **`sum3`**: $$3+7+11+15+\cdots+43$$

* **`sum4`**: $$1^2 + 3^2 + 5^2 + \cdots + 99^2$$
    
* **`sum5`**: Sum of the integers less than 1000 that are multiples of 7 and end in the digit 3

In [254]:
sum1 = sum(1 / (2**n) for n in range(1, 9))
sum1

0.99609375

In [330]:
sum2 = sum((-1)**(n+1) / n for n in range(1, 21))
sum2

0.6687714031754279

In [324]:
sum3 = sum( n for n in range(3, 44, 4))
sum3

[3, 7, 11, 15, 19, 23, 27, 31, 35, 39, 43]

In [312]:
sum4 = sum( n **2 for n in range(1, 100, 2))
sum4

166650

In [17]:
sum5 = sum( [n for n in range(1, 1000) if n % 7 == 0 and str(n)[-1] == '3'])
sum5

7252

### Month Numbers
Assign to the variable **`month_nums`** a list of tuples containing each month of the year followed by its number. 
```
[('Jan', 1),
 ('Feb', 2),
 ('Mar', 3),
 ...,
 ('Dec', 12)]
```

**Use `enumerate()` and a list comprehension.** Begin with this list

In [ ]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [ ]:
month_nums = [(month, index +1) for index, month in enumerate(months)]
month_nums

### Alphabet positions
Assign to the variable **`alphabet_pos`** a list of tuples containing each letter of the alphabet (in lower case) followed by its position. 
```
[('a', 1),
 ('b', 2),
 ('c', 3),
 ... 
 ('z', 26)]
```
**Use `enumerate()` and a list comprehension.** Use this string

In [ ]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

In [ ]:
alphabet_pos = [(alph, ind +1) for ind, alph in enumerate(alphabet)]
alphabet_pos

### Adding List Elements
Write a function **`add_nums(nums1, nums2)`** that returns a new list containing the sum of the corresponding numbers in two lists. Assume that the two lists have the same number of elements. **Write the function in two different ways**:
* without `zip()`
* with `zip()`

Examples:  
```
alist = [1, 2, 3]
blist = [55, 66, 77]
add_nums(alist, blist)
``` 
returns `[56, 68, 80]`.

In [ ]:
def add_nums(nums1, nums2):
    sum12 = []
    for n in range(len(nums1)):
        sum12.append(nums1[n] + nums2[n])
    return sum12

In [ ]:
alist = [1, 2, 3]
blist = [55, 66, 77]
add_nums(alist, blist)

In [269]:
def add_nums(nums1, nums2):
    return [a + b for a, b in zip(nums1, nums2)]

In [271]:
alist = [1, 2, 3]
blist = [55, 66, 77]
add_nums(alist, blist)

[56, 68, 80]

In [274]:
nums = [1, 2, 3, 4]

### A Recursively Defined Sequence
Consider the sequence $a_1, a_2, a_3, \ldots$, recursively defined as $a_{n} = 1+3a_{n-1}$. In other words, each term is one more than 3 times the previous term. For example, if the first term is $a_1 = 2$, then the sequence is $2, 7, 22, 67, \ldots$.


Write a function **`seq(a1, n)`** that returns a list containing the first `n` terms of the sequence given that the first term is `a1`. Assume that `n` is a positive `int`.

  Example:  
  `seq(2, 4)` returns `[2, 7, 22, 67]`.

In [306]:
def seq(a1, n):
    alist = [a1]
    for n in range(1, n):
        alist.append(1 + 3 * alist[-1])

    return alist

In [308]:
seq(2, 4)

[2, 7, 22, 67]

___

# Extra Problems
Work on these problems after completing the previous exercises.

### Zero Digit
Write a function **`zero_digit(nums)`** that takes a list of `int`s and returns a list of the elements that contain at least one digit 0. **Use a list comprehension.**

  Examples:  
  `zero_digit([102, 340, 56, 7008])` returns `[102, 340, 7008]`.

### Consecutive Numbers
Write a function **`consec_nums(lst)`** that returns `True` if a list of numbers contains consecutive elements that are equal.

Examples:  
`consec_nums([1, 6, 3, 2, 2])` returns `True`.<br>
`consec_nums([1, 2, 3, 2])` returns `False`.

### Matching List Elements
**Use a list comprehension** to write a function **`match_lists(lst1, lst2)`** that returns a list containing the indices of the elements in `lst1` and `lst2` that are identical. Assume that the two lists have the same number of elements. 

Examples:  
```
alist = [5, 7, 10, 11, 23]
blist = [7, 5, 10, 11, 86]
match_lists(alist, blist)
``` 
returns `[2, 3]` because the lists have identical elements in positions 2 and 3.

```
alist = [5, 7]
blist = [7, 5]
match_lists(alist, blist)
``` 
returns `[]`.

### Divisibility
Let the variable **`div_ct`** equal the number of three-digit integers that are divisible by their units digit. For example, 101 and 786 are two such numbers, but 103 and 780 are not.

In [ ]:
# div_ct =

### Max Value
Two distinct integers, $m$ and $n$, are chosen from the set $\{1, 2, 3, 4, \ldots , 2009\}$. Let the variable **`maxval`** equal the maximum possible value of $(2m+n)\div(m−2n)$.

In [ ]:
# maxval =

### Challenge: Divisible by All
Let the variable **`div_all`** equal the smallest positive number that is evenly divisible by all integers from $1$ to $20$.

In [ ]:
# div_all =