### Lecture 15a

In [3]:
import random
import numpy as np
import pandas as pd

In [7]:
random.seed(250)
nums = [random.randint(-20, 20) for _ in range(8)]
nums

[4, 5, -10, 15, -16, -18, 15, -5]

### Identify Outliers
An *outlier* will be outside the interval `[-thresh, thresh]` for a given threshold

Write a function `has_outliers(nums, thresh)` that will return `True` if `nums` has any outliers.   
* Write a loop and exit the loop as soon as the answer is known.
* Write a list comprehension that returns the answer. (Hint: Use`any()`.)
* Write a recursive verision.
* Write a numpy version.

In [16]:
# Solution 1
def has_outliers_loop(nums, thresh):
    for num in nums:
        if num < -thresh or num > thresh:
            return True
    return False

In [18]:
random.seed(250)
nums = [random.randint(-20, 20) for _ in range(8)]
nums

[4, 5, -10, 15, -16, -18, 15, -5]

In [22]:
has_outliers_loop(nums, 18)

False

In [48]:
# Solution 2
def has_outlier_compr(nums, thresh):
    return any([num > thresh or num < -thresh for num in nums])

In [52]:
has_outlier_compr(nums, 17)

True

In [82]:
# Solution 3
def has_outlier_recur(nums, thresh):
    if len(nums) == 0:
        return False
    elif nums[0] > thresh or nums[0] < -thresh:
        return True
    else:
        return has_outlier_recur(nums[1:], thresh)

In [92]:
has_outlier_recur(nums, 17)

True

In [100]:
# Solution 4
def arr_has_outliers(nums, thresh):
    '''Assume nums is an array'''
    return np.any((nums < -thresh) | (nums > thresh))

In [102]:
arr = np.array(nums)
arr_has_outliers(arr, 18)

False

In [104]:
class Bank:

    def __init__(self):
        self.register = pd.DataFrame(columns = ['Date', 'Transact', 'Amt', 'Balance'])

In [106]:
accnt = Bank()
accnt.register

Empty DataFrame
Columns: [Date, Transact, Amt, Balance]
Index: []

Add methods:
* `.balance()` return the current balance or return 0 if no transactions.
* `.deposit(date, amt)`: record a deposit by adding a row to `register` and updating the balance.
* `.withdraw(date, amt)`: record a withdrawal, updating the balance. If `amt` > balance, withdraw the balance and print an error message.

In [178]:
class Bank(Bank):

    def balance(self):
        nentries = len(self.register)
        if nentries == 0:
            return 0
        else:
            return self.register.loc[nentries].Balance

    def deposit(self, date, amt):
        df = self.register
        nentries = len(df)
        curr_balance = self.balance()
        df.loc[nentries + 1] = [date, 'Deposite', amt, curr_balance + amt]

    def withdraw(self, date, amt):
        df = self.register
        nentries = len(df)
        curr_balance = self.balance()
        if curr_balance > amt:
            df.loc[nentries + 1] = [date, 'Withdrawal', amt, curr_balance - amt]
        else:
            print('ERROR: Amount greater than account balance')
            df.loc[nentries + 1] = [date, 'Withdrawal', curr_balance, 0]

In [180]:
accnt = Bank()
accnt.deposit('12-09-24', 150)

In [182]:
accnt.register

       Date  Transact  Amt  Balance
1  12-09-24  Deposite  150      150

In [184]:
accnt.deposit('12-10-24', 80)

In [186]:
accnt.register

       Date  Transact  Amt  Balance
1  12-09-24  Deposite  150      150
2  12-10-24  Deposite   80      230

In [188]:
accnt.withdraw('12-11-24', 100)

In [190]:
accnt.register

       Date    Transact  Amt  Balance
1  12-09-24    Deposite  150      150
2  12-10-24    Deposite   80      230
3  12-11-24  Withdrawal  100      130

In [192]:
accnt.withdraw('12-12-24', 200)

ERROR: Amount greater than account balance

In [194]:
accnt.register

       Date    Transact  Amt  Balance
1  12-09-24    Deposite  150      150
2  12-10-24    Deposite   80      230
3  12-11-24  Withdrawal  100      130
4  12-12-24  Withdrawal  130        0