### Lecture 3b

In [3]:
nums = [2, 4, 6, 8]

In [5]:
sorted(nums, reverse=True)

[8, 6, 4, 2]

In [7]:
nums

[2, 4, 6, 8]

### Function default arguments and named argument

reduce_price(price, pct) and return the price discounted by the given pct

In [26]:
def reduce_price(price, pct=10): #default value of pct is 10
    return price - price *(pct / 100)

In [30]:
reduce_price(1000, 20)

800.0

In [32]:
reduce_price(1000)

900.0

In [34]:
reduce_price(pct=20, price=1000)

800.0

Updating Variables

In [37]:
price = 100

In [59]:
price = price + 1

In [61]:
price

106

In [63]:
price += 1

In [71]:
price

107

In [73]:
price *= 2

In [75]:
price

214

# Iteration with 'for' loop
'''
for X in XXX:
    do something
'''

In [83]:
tix = [13, 9, 11, 13]

In [95]:
for price in tix:
    print (price, end=' ')

13 9 11 13

Suppose 9 = child, 13 = regular, 11 = senior

In [100]:
for price in tix:
    if price == 9:
        print ('child')
    elif price == 13:
        print ('regular')
    else:
        print ('senior')

regular
child
senior
regular

### Counting the elements in a list that match a condition
initialize a counter, then for X in XXX:
if the condition is met: increment counter
display or return counter

In [110]:
regct = 0

for price in tix:
    if price == 13:
        regct += 1

regct

2

### Accumulating (ex: calculating a sum or product)

print the first 10 squares

In [116]:
for num in range(1, 11):
    print (num ** 2)

1
4
9
16
25
36
49
64
81
100

sum the first 10 squares

In [119]:
total = 0

for num in range(1, 11):
    total += num ** 2

In [121]:
total

385

### Appending to a List

In [124]:
tix

[13, 9, 11, 13]

In [132]:
tix = tix + [9]

In [134]:
tix

[13, 9, 11, 13, 9]

prefered way:

In [137]:
tix.append(13)

### Building a List

initialize an empty list

Create a list containing the first 10 squares

In [149]:
squares = []

for num in range (1, 11):
    squares.append (num ** 2)

In [151]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [153]:
tix

[13, 9, 11, 13, 9, 13]

count the numbers of 13s

In [169]:
#not preferred
regct = 0

for pos in range(4):
    if tix[pos] == 13:
        regct += 1

In [167]:
regct

2

Create a list of numbers from 1 to 50 that are divisible by 7

In [188]:
fifty = []

for num in range(1, 51):
    if num % 7 == 0:
        fifty.append(num)

fifty

[7, 14, 21, 28, 35, 42, 49]