### Lecture 4b

In [3]:
x = 0
for i in range(4):
    print ('i =', i, 'x =', x)
    x += 5*i

x

i = 0 x = 0
i = 1 x = 0
i = 2 x = 5
i = 3 x = 15

30

### One-line if statement

x = a if condition else b

In [11]:
x = 9

In [13]:
if x >= 0:
    sqrtx = x ** 0.5
else:
    sqrtx = 0

In [15]:
sqrtx

3.0

In [23]:
x = -5
sqrtx = x ** 0.5 if x >= 0 else 0

In [25]:
sqrtx

0

### List Comprehensions

Typical build-a-list example:

result = []

for XXX:
    result.appened(expr)

Replace with: 
[expr for XXX]

In [35]:
# First five multiples of 4
[4*i for i in range(1, 6)]

[4, 8, 12, 16, 20]

In [39]:
sum(4*i for i in range(1, 6))

60

### List Comprehension Examples

In [50]:
# first 6 odd numbers
[i for i in range(1, 13, 2)]

[1, 3, 5, 7, 9, 11]

In [52]:
[i*2 + 1 for i in range(6)]

[1, 3, 5, 7, 9, 11]

In [58]:
# first 10 squares
[k**2 for k in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[k/100 for k in range(7, 208, 10)]

In [70]:
primes = [2, 3, 5, 7, 11]

primes_sq = []
for p in primes:
    primes_sq.append(p*p)

primes_sq

[4, 9, 25, 49, 121]

In [74]:
[p ** 2 for p in primes]

[4, 9, 25, 49, 121]

In [76]:
[p % 2 == 0 for p in primes]

[True, False, False, False, False]

### List Comprehensions with Filtering

Typical loop:

'''result = []

for XXX:
    if condition:
        result.append(expr)'''

In [84]:
nums = list(range(-9, 8, 2))
nums

[-9, -7, -5, -3, -1, 1, 3, 5, 7]

Extract the negative numbers from nums

In [87]:
[n for n in nums if n < 0]

[-9, -7, -5, -3, -1]

Extract the multiples of 3 from nums

In [90]:
[n for n in nums if n % 3 == 0]

[-9, -3, 3]

Create a new list with every negative number in nums changed to zero

In [105]:
[n if n > 0 else 0 for n in nums]

[0, 0, 0, 0, 0, 1, 3, 5, 7]

### Enumerate

In [122]:
days = ['Sun', 'Mon', 'Tue']
for index, val in enumerate(days):
    print(index, val)

0 Sun
1 Mon
2 Tue

In [126]:
[tup for tup in enumerate(days)]

[(0, 'Sun'), (1, 'Mon'), (2, 'Tue')]

### Zip

In [145]:
nums = [2, 4, 6]
names = ['two', 'four', 'six']

In [147]:
list(zip(nums, names))

[(2, 'two'), (4, 'four'), (6, 'six')]