### Lecture 13a Object-Oriented Programing

In [5]:
import math
import random
import numpy as np

### Classes and Objects

an Object is a data structure with values and functions and objects that are similar are grouped into a class

E.x

python list: nums.append()

prython string: words.split()

numpy array: arr.size, arr.reshape()

### Creating a new class

`CUStudent` attributes
* `name`
* `ID`
* `year` default = 1

In [21]:
class CUStudent:
    '''Each object will correspond to an indivigual student record'''
    def __init__(self, student, identikey, year=1):# constructor 
        ''' Create a new student record'''
        self.name = student
        self.ID = identikey
        self.year = year

In [27]:
ralph = CUStudent('Ralphie Buff','rabu1212') # new student record
ralph

In [29]:
ralph.name

'Ralphie Buff'

In [33]:
ralph.ID

'rabu1212'

In [35]:
ralph.year

1

Add a class atributte shared by all instances

In [38]:
class CUStudent:
    '''Each object will correspond to an indivigual student record'''

    college = 'CU Boulder'

    def __init__(self, student, identikey, year=1):# constructor 
        ''' Create a new student record'''
        self.name = student
        self.ID = identikey
        self.year = year

In [46]:
# Recreate the record for Ralphie
ralph = CUStudent('Ralphie Buff','rabu1212') # new student record
ralph

In [48]:
ralph.college

'CU Boulder'

In [50]:
vars(ralph)

{'name': 'Ralphie Buff', 'ID': 'rabu1212', 'year': 1}

In [52]:
marie = CUStudent('Marie Curie', 'macu2357', 4)
vars(marie)

{'name': 'Marie Curie', 'ID': 'macu2357', 'year': 4}

In [54]:
marie.college

'CU Boulder'

In [56]:
marie.college = 'University of Colorado'

In [58]:
marie.college

'University of Colorado'

In [62]:
ralph.college

'CU Boulder'

### Write a function that takes a student name and generates an identikey using a random 4 digit integer

In [115]:
def create_id(name):
    '''Take a name in the form 'First Last' and generate an identikey'''
    ending = random.randint(1000,9999)
    first, last = name.lower().split( )
    return first[:2]+last[:2]+str(ending)

In [125]:
create_id('Marie Curie')

'macu8928'

In [143]:
class CUStudent:
    '''Each object will correspond to an indivigual student record'''

    college = 'CU Boulder'

    def create_id(self,name):
        '''Take a name in the form 'First Last' and generate an identikey'''
        ending = random.randint(1000,9999)
        first, last = name.lower().split( )
        return first[:2]+last[:2]+str(ending)
    
    def __init__(self, student, identikey = '', year=1):# constructor 
        ''' Create a new student record'''
        self.name = student
        self.year = year
        # if identikey is '', generate a new Identikey, else use the given ID
        if identikey !='':
            self.ID = identikey
        else:
            self.ID = self.create_id(student)

In [145]:
marie = CUStudent('Marie Curie', year = 4)
vars(marie)

{'name': 'Marie Curie', 'year': 4, 'ID': 'macu4492'}

Add a method that welcomes a student by printing 'Welcome XXX'

In [148]:
class CUStudent(CUStudent):
    def welcome(self):
        print('Welcome '+ self.name +'!')

In [156]:
marie = CUStudent('Marie Curie', year = 4)
marie.welcome()

Welcome Marie Curie!

### Parabola class

for $y=ax^2+bx+c$

In [161]:
class Parabola:
    '''Create a class for parabolas ax^2+bx+c'''

    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

In [163]:
parab = Parabola(1,-4,5)
vars(parab)

{'a': 1, 'b': -4, 'c': 5}

Add methods:
* `.dir()` returns 'up' or 'down' for the direction of the parabola opening
* `.eval(x)` returns the y value for a parabola given x

In [200]:
class Parabola(Parabola):

    def dir(self):
        '''Return 'up' or 'down' for parabola direction'''
        return 'up' if self.a>0 else 'down'
    def eval(self,x):
        return self.a*x*x+self.b*x+self.c


    def __call__(self, x): #shorthand for the previous function
        return self.eval(x)

In [202]:
parab = Parabola(-1,-4,5)
parab.dir()

'down'

In [204]:
parab.eval(-3)

8

In [206]:
parab(-3)

8

Add the methods:
* `.axis()` returns the x-coordinate of the axis of symmetry
* `.vertex()` returns the (x,y) coordinates of the vertex
* `.roots()` returns the roots as (root1,root2) or returns np.nan if no roots

In [227]:
class Parabola(Parabola):
    
    def axis(self):
        return -self.b/(2*self.a)

    def vertex(self):
        x = self.axis()
        return (x, self.eval(x))

    def roots(self):
        discrim = self.b**2 -4*self.a*self.c
        if discrim <0:
            return np.nan
        else:
            dsqrt = discrim **0.5
            root1 = (-self.b-dsqrt)/(2*self.a)
            root2= (-self.b+dsqrt)/(2*self.a)
        return (root1,root2)

In [235]:
parab = Parabola(-1,-4,5)
parab.axis()

-2.0

In [237]:
parab.vertex()

(-2.0, 9.0)

In [239]:
parab.roots()

(1.0, -5.0)