# Lab 3

___

### Enter the Lab3 password as a string

In [461]:
password = 'eggplant'

In [462]:
import math

### Creating Lists

Use the `range` generator and the `list` function to **create the following lists**. (*Do not* write out all the elements.) Assign the lists to the variables `list1`, `list2`, etc.

 ```
list1: [21, 22, 23, 24, 25]  
list2: [7, 14, 21, 28, ..., 70]
list3: [-65, -55, -45, ..., -5]  
list4: [19, 17, 15, ..., 1]
 ```

In [464]:
list1 = list(range(21, 26))
list1

[21, 22, 23, 24, 25]

In [465]:
list2 = list(range(7, 71, 7))
list2

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [466]:
list3 = list(range(-65, -4, 10))
list3

[-65, -55, -45, -35, -25, -15, -5]

In [467]:
list4 = list(range(19, 0, -2))
list4

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

**Create the 12-element list** (without writing out all the elements).

```
list5: [7, 11, 7, 11, ..., 7, 11]
```

In [469]:
list5 = list(6 * (7, 11))
list5

[7, 11, 7, 11, 7, 11, 7, 11, 7, 11, 7, 11]

### List Slicing

Let `alist = list(range(11, 100, 11))`. (Can you predict what the list elements will be?)

**Use list slicing** to select the following elements from `alist`.

* [11, 22, 33, 44, 55]
* [55, 66, 77, 88, 99]
* 99
* [33, 55, 77, 99]
* [77, 66, 55, 44]

In [471]:
alist = list(range(11, 100, 11))

In [472]:
alist[0:5]

[11, 22, 33, 44, 55]

In [473]:
alist[4:9]

[55, 66, 77, 88, 99]

In [474]:
alist[8]

99

In [475]:
alist[2:9:2]

[33, 55, 77, 99]

In [476]:
alist[6:2:-1]

[77, 66, 55, 44]

### Generating Non-Integer Lists

The `range` generator works for integer values only. **Create the following lists** using a `for` loop. (For each list there is more than one solution.)

```
list6: [0.5, 1.5, 2.5, ..., 20.5]

list7: [0.06, 0.08, 0.1, ..., 0.4]
```

In [478]:
list6 = []

for nums in range(1,43,2):
    list6.append (nums/2)

list6

[0.5,
 1.5,
 2.5,
 3.5,
 4.5,
 5.5,
 6.5,
 7.5,
 8.5,
 9.5,
 10.5,
 11.5,
 12.5,
 13.5,
 14.5,
 15.5,
 16.5,
 17.5,
 18.5,
 19.5,
 20.5]

In [479]:
list7 = []

for nums in range(6, 41, 2):
    list7.append (nums/100)

list7

[0.06,
 0.08,
 0.1,
 0.12,
 0.14,
 0.16,
 0.18,
 0.2,
 0.22,
 0.24,
 0.26,
 0.28,
 0.3,
 0.32,
 0.34,
 0.36,
 0.38,
 0.4]

### Duplicate a List
Write a function **`dup_list(alist, n)`** that duplicates the elements in a list `n` times. If `alist` is not an object of type `list` or if `n` is not a positive `int`, return the empty list.

Examples:  
`dup_list([20, 'cu'], 3)` returns `[20, 'cu', 20, 'cu', 20, 'cu']`.<br>
`dup_list([5, 6], 'cu')` returns `[]`.<br>
`dup_list('cu', 3)` returns `[]`.<br>

In [481]:
def dup_list(alist, n):
    if type(alist) != list or type(n) != int or n <= 0:
        return []
    else:
        return alist * n

In [482]:
dup_list([20, 'cu'], 3)

[20, 'cu', 20, 'cu', 20, 'cu']

In [483]:
dup_list([5, 6], 'cu')

[]

In [484]:
dup_list('cu', 3)

[]

### Plurals
Write a function **`plurals(words)`** that takes a list of strings and **prints** each string on a separate line, adding `'s'` to the end of each string.

Example:<br>
`plurals(['cow', 'pig', 'frog'])` displays
```
cows
pigs
frogs
```

In [486]:
def plurals(words):
    for word in words: 
        print (word + 's')

In [487]:
plurals(['cow', 'pig', 'frog'])

cows
pigs
frogs

### Counting Negative Numbers
Write a function **`neg_ct(nums)`** that takes a list of numbers and returns the number of elements that are negative. Use a `for` loop.

Examples:  
`neg_ct([3, -5, 6, -8.2])` returns `2`.<br>
`neg_ct([3, 5, 6])` returns `0`.

In [489]:
def neg_ct(nums):
    count = 0
    for num in nums:
        if num < 0:
            count += 1

    return count

In [490]:
neg_ct([3, -5, 6, -8.2])

2

In [491]:
neg_ct([3, 5, 6])

0

### Summing Negative Numbers
Write a function **`neg_sum(nums)`** that takes a list of numbers and returns the sum of the negative elements. Use a `for` loop.

Examples:  
`neg_sum([3, -5, 6, -8.2])` returns `-13.2`.<br>
`neg_sum([3, 5, 6])` returns `0`.

In [493]:
def neg_sum(nums):
    sum = 0
    for num in nums:
        if num < 0: 
            sum = sum + num

    return sum

In [494]:
neg_sum([3, -5, 6, -8.2])

-13.2

In [495]:
neg_sum([3, 5, 6])

0

### Replacing Negative Numbers
Write a function **`neg_replace(nums)`** that takes a list of numbers and returns a new list with any negative elements replaced by 0. Use a `for` loop.

Examples:  
`neg_replace([3, -5, 6, -8.2])` returns `[3, 0, 6, 0]`.<br>
`neg_replace([3, 5, 6])` returns `[3, 5, 6]`.

In [497]:
def neg_replace(nums):
    list = []
    for num in nums: 
        if num > 0:
            list = list + [num]
        elif num <= 0:
            list += [0]
    return list

In [498]:
neg_replace([3, -5, 6, -8.2])

[3, 0, 6, 0]

In [499]:
neg_replace([3, 5, 6])

[3, 5, 6]

### Extracting Negative Numbers
Write a function **`neg_extract(nums)`** that takes a list of numbers and returns a list of the elements that are negative. If none, the function returns an empty list. Use a `for` loop.

Examples:  
`neg_extract([3, -5, 6, -8.2])` returns `[-5, -8.2]`.<br>
`neg_extract([3, 5, 6])` returns `[]`.

In [501]:
def neg_extract(nums):
    list = []
    for num in nums:
        if num < 0:
            list += [num]
    return list

In [502]:
neg_extract([3, -5, 6, -8.2])

[-5, -8.2]

In [503]:
neg_extract([3, 5, 6])

[]

---

# Extra Problems
Work on these problems after completing the previous exercises.

### Divisibility Rules

To determine (without a calculator) whether a number $n$ is divisible by another number $d$, there are shortcuts for some values of $d$. For example, if $d=2, 5,$ or $10$, examining the units digit of $n$ is sufficient. If $d=4$ one can check whether the rightmost two digits of $n$ are divisible by $4$ and if so, then $n$ also is divisible by $4$. *(Why does that work?)*

#### Divisibility by 13
To check whether a 4-digit, 5-digit, or 6-digit number $n$ is divisible by $13$, one can take the rightmost 3 digits and subtract the remaining digits to the left. If the result is divisible by $13$, then so is $n$. For example, let $n=85475$. Because $475 - 85 = 390$ is divisible by $13$, then $n$ also is divisible by $13$. This method reduces a 5-digit division problem into a simpler 3-digit one. *(Why does this method work?)*

Write a function **`div_by_13(n)`** that **uses this method** to determine if `n` is divisible by $13$, returning `True` or `False`. Assume that `n` is a 4-digit, 5-digit, or 6-digit `int`.

Use a `for` loop to **check that `div_by_13` returns the correct answer** for all 4-digit, 5-digit, or 6-digit integers by comparing to `n % 13`.

### Intersection of Two Lines
Write a function **`intersect(line1, line2)`** that returns the `(x,y)` coordinates of the intersection point of two lines. If none, the function returns `None`. Assume that each line $y=mx+b$ is represented by a tuple `(m, b)`.

Examples:<br>
`intersect((2, 3), (-3, 4))` returns `(0.2, 3.4)`.<br>
`intersect((2, 3), (2, 4))` displays nothing and returns `None`.

*Solution:* Given $y = m_1 x + b_1$ and $y = m_2 x + b_2$, the intersection point, if any, will occur where the two equations are equal at $x = (b_2-b_1) / (m_1 - m_2)$.

### Triangle Angles

Write a function **`triangle_angles(a, b, c)`** that takes the positive side lengths of a triangle and returns a tuple `(A, B, C)` containing the radian measures of angles $A$ (opposite side $a$), $B$ (opposite side $b$), and $C$ (opposite side $c$). 

*Hint:* Use the *Law of Cosines* $c^2 = a^2 + b^2 - 2ab\cos C$.

Example:  
`triangle_angles(3, 4, 5)` returns `(0.643501, 0.927295, 1.570796)`.