# HW 4

In [137]:
import math

### Telescoping Sum

Write a function **`tele_sum(n)`** that sums the first `n` terms of the telescoping series 
 $$\dfrac{1}{1\cdot 2} + \dfrac{1}{2\cdot 3} + \dfrac{1}{3\cdot 4} + \cdots + \dfrac{1}{n\cdot (n+1)}.$$ 
**Use a list comprehension.**

Example:  
`tele_sum(4)` returns `0.8`.<br>
`tele_sum(90)` returns `0.989011`.

In [139]:
def tele_sum(n):
    return sum(1 / (k * (k + 1)) for k in range(1, n + 1))

In [140]:
tele_sum(4)

0.8

In [141]:
tele_sum(90)

0.989010989010989

### Cosine series
This infinite series sums to $\cos x$:
$$\cos x = 1 - \dfrac{x^2}{2!} + \dfrac{x^4}{4!} - \dfrac{x^6}{6!} + \cdots.$$

Write a function **`cos_series(x, nterms)`** that estimates the value of $\cos x$ by summing the first `nterms` terms of the series. **Use a list comprehension**. You may assume that `nterms` is a positive integer. (*Hint:* $0! = 1$)

Example:  
`cos_series(math.pi/3, 3)` returns `0.501796`.<br>
`cos_series(3, 1)` returns `1`.

In [143]:
def cos_series(x, nterms):
    return sum([(-1)**n * x **(2*n)/ (math.factorial(2*n)) for n in range(nterms)])

In [144]:
cos_series(math.pi/3, 3)

0.501796201500181

In [145]:
cos_series(3, 1)

1.0

### Weighted Average
The table below shows the number of Tesla cars sold in 2018 Q4 for each of three models along with their sale prices:

|Model|Price|# Sold|Revenue (mil)|
|:---|:---:|:---:|:--:|
|Model X|84000|14050|1180.20|
|Model S|78000|13500|1053.00|
|Model 3|46000|63360|2914.56|
|**Total**||**90910**|**5147.76**|

If we average the sale prices in the second column, the mean is $69,333, however that number is not an accurate measure of the typical sale price because more Model 3 cars were sold than the other two models combined. To calculate the overall average sale price, we can compute the *weighted average*:

$$\text{weighted average} = \dfrac{\text{total sales revenue}}{\text{number of cars sold}}$$

$$\text{average sale price} = \dfrac{5147.76\times 10^{6}}{90910} = 56624.79$$

where the "weights" correspond to the number of cars sold for each model.

Write a function **`weighted_avg(vals, wgts)`** that takes a list of values and a list of corresponding weights and returns the weighted average by multiplying each value by its weight, summing the results, then dividing by the sum of the weights. 

Assume that `vals` and `wgts` are lists of equal size and that their elements are all numbers. Your function should not modify the input lists. (*Hint:* You may wish to use `zip`.)

Example:  
```
prices = [84000, 78000, 46000]
sold = [14050, 13500, 63360]
weighted_avg(prices, sold)
```
returns `56624.793752`.

In [147]:
def weighted_avg(vals, wgts):
    weighted_sum = sum( v * w for v, w in zip(vals, wgts))
    total_weight = sum (wgts)
    return weighted_sum / total_weight

In [148]:
prices = [84000, 78000, 46000]
sold = [14050, 13500, 63360]
weighted_avg(prices, sold)

56624.79375206248

### Partition Points

Write a function **`partition_pts(a, b, n)`** that divides an interval $ [a,b] $ into $n$ equal subintervals and returns the coordinates of the $n+1$ partition points. **Use a list comprehension**. You may assume the following: $a, b$ are numbers, $a<b$, and $n$ is a positive integer.

Example:  
```
partition_pts(-1, 2, 6)
```
returns 
```
[-1.0 , -0.5,  0.0 ,  0.5,  1.0 ,  1.5,  2.0]
``` 
which corresponds to the seven coordinates that result from dividing the interval $[-1,2]$ into $6$ equal subintervals.

<img src="http://www.coloradomath.org/python/partition.png" />

In [150]:
def partition_pts(a, b, n):
    return [ a + x * (b - a)/n for x in range(n+1)]

In [151]:
partition_pts(-1, 2, 6)

[-1.0, -0.5, 0.0, 0.5, 1.0, 1.5, 2.0]

### Apply a Function to a List
Write a function **`func_apply(func, pts)`** that evaluates a function at the given points and returns the function values in a list. **Use a list comprehension**.

Examples:
```
func_apply(math.sqrt, [4, 9, 13])
```
returns `[2.0, 3.0, 3.605551]`.

```
xvals = partition_pts(0, math.pi/2, 5)
func_apply(math.sin, xvals)
```
returns `[0.0, 0.309017, 0.587785, 0.809017, 0.951057, 1.0]` which corresponds to the sine function evaluated at 6 evenly spaced points in the interval $[0, \pi/2]$.

In [153]:
def func_apply(func, pts):
    return [ func(n) for n in pts]

In [154]:
func_apply(math.sqrt, [4, 9, 13])

[2.0, 3.0, 3.605551275463989]

In [155]:
xvals = partition_pts(0, math.pi/2, 5)
func_apply(math.sin, xvals)

[0.0,
 0.3090169943749474,
 0.5877852522924731,
 0.8090169943749475,
 0.9510565162951535,
 1.0]

### Add Index to List Elements
Write a function **`add_index(nums)`** that takes a list of numbers and returns a new list, adding 1 to the first element of `nums`, adding 2 to the second element, adding 3 to the third element, etc. **Use enumerate().** You may assume that the list elements are all numbers. The function should not modify the argument `nums`.

Examples:   
`add_index([])` returns `[]`.

`alist = [-3, 10.5, 100]`<br>
`add_index(alist)` returns `[-2, 12.5, 103]`.<br>
`print(alist)` displays `[-3, 10.5, 100]`.

In [157]:
def add_index(nums):
    return [ (index + 1) + num for index, num in enumerate(nums)]

In [158]:
add_index([])

[]

In [159]:
alist = [-3, 10.5, 100]
add_index(alist)

[-2, 12.5, 103]

In [160]:
print (alist)

[-3, 10.5, 100]

### Moo Oink

*Moo Oink* is a counting game where players take turns counting starting with $1, 2, \ldots$. For any number divisible by $3$ the player says 'moo' instead of the number. For any number divisible by $4$ the player says 'oink'. For any number divisible by $3$ and $4$ the player says 'moo oink'. Write a function **`moo_oink(n)`** that returns a list of the responses for `n` rounds. You may assume that `n` is a positive integer.

*Hint:* You may wish to write a helper function that returns the response for a single number.

 Example:  
 ```
 moo_oink(13)
 ```
 returns 
 ```
 [1, 2, 'moo', 'oink', 5, 'moo', 7, 'oink', 'moo', 10, 11, 'moo oink', 13]
 ```

In [192]:
def moo_oink(n):
    num_list = list(range(1, n+1))
    for n in range(n):
        if num_list[n] % 3 == 0 and num_list[n] % 4 == 0:
            num_list[n] = 'moo oink'
        elif num_list[n] % 4 == 0:
            num_list[n] = 'oink'
        elif num_list[n] % 3 == 0:
            num_list[n] = 'moo'

    return num_list

In [194]:
moo_oink(13)

[1, 2, 'moo', 'oink', 5, 'moo', 7, 'oink', 'moo', 10, 11, 'moo oink', 13]