# Lab 10

### Enter the Lab10 password as a string

In [2]:
password = 'avatar'

___

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### College Majors

The file `'college-majors.csv'` is a [fivethirtyeight.com dataset](https://github.com/fivethirtyeight/data/tree/master/college-majors) based on the American Community Survey 2010-2012. It lists the college majors, salaries, and employment status for respondents under the age of 28. 

* **Major_code:** Major code
* **Major:** Major description
* **Major_category:** Category of major
* **Men:** Male graduates
* **Women:** Female graduates
* **Sample_size:** Sample size of full-time, year-round only (for earnings)
* **Employed:** Number employed
* **Full_time:** Employed 35 hours or more
* **Part_time:** Employed less than 35 hours
* **Unemployed:** Number unemployed
* **Median:** Median earnings of full-time, year-round workers
* **P25th:** 25th percentile of earnings
* **P75th:** 75th percentile of earnings

___

**Read in the file** `'college-majors.csv'` as a pandas dataframe `df`. Use `pd.read_csv()` with `Major` as the `index_col`.

In [58]:
df = pd.read_csv('college-majors.csv', index_col = 'Major')
df

,Major_code,Major_category,Men,Women,Sample_size,Employed,Full_time,Part_time,Unemployed,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
Major,,,,,,,,,,,,,,,
ACCOUNTING,6201,Business,94519.0,104114.0,2042,165527,151967,27693,12411,45000,34000,56000,11417,39323,10886
ACTUARIAL SCIENCE,6202,Business,2110.0,1667.0,51,2912,2924,296,308,62000,53000,72000,1768,314,259
ADVERTISING AND PUBLIC RELATIONS,1904,Communications & Journalism,12862.0,40300.0,681,45326,38815,10948,3305,35000,27000,47000,9659,23059,7214
AEROSPACE ENGINEERING,2401,Engineering,12953.0,2105.0,147,11391,11106,2724,794,60000,42000,70000,8184,2425,372
AGRICULTURAL ECONOMICS,1102,Agriculture & Natural Resources,1749.0,690.0,44,2174,1819,620,182,40000,27000,54000,535,893,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TRANSPORTATION SCIENCES AND TECHNOLOGIES,5901,Industrial Arts & Consumer Services,13257.0,1893.0,180,12266,11688,2633,962,35000,22000,52000,4575,6147,557
TREATMENT THERAPY PROFESSIONS,6109,Health,13487.0,35004.0,224,37861,30020,12346,2409,33000,24000,41000,22215,14616,4468
UNITED STATES HISTORY,6403,Humanities & Liberal Arts,1756.0,1323.0,22,2787,2103,839,138,40000,30000,42000,801,1591,302
VISUAL AND PERFORMING ARTS,6003,Arts,4133.0,12117.0,132,12870,8447,6253,1465,30000,22000,40000,3849,7635,2840
ZOOLOGY,3609,Biology & Life Science,3050.0,5359.0,47,6259,5043,2190,304,26000,20000,39000,2771,2947,743

**Add a column** called `Total` that equals the sum of the `Men` and `Women` columns.

In [66]:
df['Total'] = df.Men + df.Women

### Information about Majors

Write a function **major_info(df, major)** that returns a series corresponding to the row for that major. 

Example: `major_info(df, 'APPLIED MATHEMATICS')` returns
```
Major_code                             3701
Major_category      Computers & Mathematics
Men                                  2794.0
Women                                2145.0
Sample_size                              45
Employed                               3854
Full_time                              3465
Part_time                              1176
Unemployed                              385
Median                                45000
P25th                                 34000
P75th                                 63000
College_jobs                           2437
Non_college_jobs                        803
Low_wage_jobs                           357
Name: APPLIED MATHEMATICS, dtype: object
```

In [77]:
def major_info(df, major):
    return df.loc[major]

In [79]:
major_info(df, 'APPLIED MATHEMATICS')

Major_code                             3701
Major_category      Computers & Mathematics
Men                                  2794.0
Women                                2145.0
Sample_size                              45
Employed                               3854
Full_time                              3465
Part_time                              1176
Unemployed                              385
Median                                45000
P25th                                 34000
P75th                                 63000
College_jobs                           2437
Non_college_jobs                        803
Low_wage_jobs                           357
Total                                4939.0
Name: APPLIED MATHEMATICS, dtype: object

### Number of Students in Each Major

Write a function **major_count(df, major)** that returns the `Total` number of students in that major.

Example:  `major_count(df, 'APPLIED MATHEMATICS')` returns `4939`.

In [85]:
def major_count(df, major):
    return df.Total[major]

In [87]:
major_count(df, 'APPLIED MATHEMATICS')

4939.0

### Popularity of Majors

Write a function **`most_popular_majors(df, nmajors)`** that returns a list of the `nmajors` most popular majors, ordered from most popular to least popular, based on `Total`. If `nmajors` is omitted, the default value is `5`.

Example:  
```
df_biz = df[df.Major_category == 'Business']
most_popular_majors(df_biz, 2)
``` 
returns
```
['BUSINESS MANAGEMENT AND ADMINISTRATION', 'GENERAL BUSINESS']
```

In [151]:
def most_popular_majors(df, nmajors=5):
    return df.Total.nlargest(nmajors).index.tolist()

In [153]:
df_biz = df[df.Major_category =='Business']
most_popular_majors(df_biz, 2)

['BUSINESS MANAGEMENT AND ADMINISTRATION', 'GENERAL BUSINESS']

Write a function **`least_popular_majors(df, nmajors)`** that returns a list of the `nmajors` least popular majors, ordered from least popular to most popular. If `nmajors` is omitted, the default value is `5`.

In [164]:
def least_popular_majors(df, nmajors=5):
    return df.Total.nsmallest(nmajors).index.tolist()

In [162]:
df_biz = df[df.Major_category == 'Business']
least_popular_majors(df_biz, 2)

['ACTUARIAL SCIENCE', 'OPERATIONS LOGISTICS AND E-COMMERCE']

### Major Categories

Write a function **category_majors(df, category)** that returns a list of the majors in that category (in any order).

Example: `category_majors(df, 'Communications & Journalism')` returns 
```
['ADVERTISING AND PUBLIC RELATIONS', 'COMMUNICATIONS', 'JOURNALISM', 'MASS MEDIA']
```

In [193]:
def category_majors(df, category):
    return df[df.Major_category == category].index.tolist()

In [195]:
category_majors(df, 'Communications & Journalism')

['ADVERTISING AND PUBLIC RELATIONS',
 'COMMUNICATIONS',
 'JOURNALISM',
 'MASS MEDIA']

Write a function **`categories_num_majors(df)`** that returns a series listing the number of majors in each major category. (*Hint:* Use `groupby` and `.size()`.)

Example: 
```
df_arts = df[df.Major_category.str.contains('Arts')]
categories_num_majors(df_arts)
```
returns
```
Major_category
Arts                                    8
Humanities & Liberal Arts              15
Industrial Arts & Consumer Services     7
dtype: int64
```

In [203]:
def categories_num_majors(df):
    return df.groupby('Major_category').size()

In [205]:
df_arts = df[df.Major_category.str.contains('Arts')]
categories_num_majors(df_arts)

Major_category
Arts                                    8
Humanities & Liberal Arts              15
Industrial Arts & Consumer Services     7
dtype: int64

Write a function **`most_popular_category(df, ncats)`** that returns a list of the `ncats` most popular major categories, ordered from most popular to least popular. If `ncats` is omitted, the default value is `5`. (*Hint:* Use `groupby` and the `Total` column.)

In [237]:
def most_popular_category(df, ncats=5):
    return df.groupby('Major_category')

In [239]:
df.groupby('Major_category')

In [242]:
most_popular_category(df, 5)

### Percent Employed

Add a column **Pct_Employed** that equals the number `Employed` divided by the `Total` number of students in each major, multiplied by 100.

Example: `df.Pct_Employed['ZOOLOGY']` returns `74.432156`.

In [245]:
df['Pct_Employed'] = (df.Employed / df.Total) * 100

In [247]:
df.Pct_Employed['ZOOLOGY']

74.43215602330837

Write a function **`categories_pct_employed(df)`** returns a series containing the percentage employed in each major category, averaged over the majors in each category.

In [249]:
def categories_pct_employed(df):
    return df.groupby('Major_category')['Pct_Employed'].mean()

Write code to **identify the categories with the largest and smallest `Pct_Employed`**.

In [265]:
category_max_pct_employed = categories_pct_employed(df).idxmax()

In [253]:
category_min_pct_employed = categories_pct_employed(df).idxmin()

Write code to **identify the majors with the largest and smallest `Pct_Employed`**. (In each case, there is just one matching major.)

In [269]:
major_max_pct_employed = df.Pct_Employed.idxmax()

In [273]:
major_min_pct_employed = df.Pct_Employed.idxmin()

### Median Salaries

Write code to **identify the categories with the largest and smallest `Median` salary**.

In [281]:
category_max_salary = df.groupby('Major_category')['Median'].mean().idxmax()

In [285]:
category_min_salary = df.groupby('Major_category')['Median'].mean().idxmin()

Write code to **identify the majors with the largest and smallest `Median` salary**. (In each case, there is just one matching major.)

In [291]:
major_max_salary = df.Median.idxmax()

In [297]:
major_min_salary = df.Median.idxmin()

___

# Extra Problems

### Missing Values

Write code to **identify the major that contains `NaN`** in the `Total` column.

In [36]:
# major_missing_val =

Use `.dropna()` with the parameter `inplace=True` to **remove all rows with missing values**. You might want to check the number of rows in the dataframe before and after dropping.

Write code to identify the two majors that have a **`Total` between 30000 and 31000**.

In [37]:
# majors_total_30000 =

### Plotting
**Make a bar chart** showing `Total` in descending order. (*Hint:* `plt.xticks([])` will omit the labels on the horizontal axis.)

**Make another bar chart** showing the 10 most popular majors in descending order.

<img src="http://www.coloradomath.org/python/majors-popular-10.jpg" width="395" height="510" />

**Make a scatter plot** with `Pct_Employed` along the horizontal axis and `Median` along the vertical axis.

<img src="http://www.coloradomath.org/python/majors-scatter.jpg" width="432" height="288" />

### Outliers

There are two outliers in the `Pct_Employed` vs `Median` scatter plot: one on the left side of the plot and one in the upper right. Write code to **identify the majors corresponding to the two outliers.**

In [38]:
# outlier_left_major =

In [39]:
# outlier_right_major =

The outliers are visible in corresponding box plots. **Create the box plots.**

<img src="http://www.coloradomath.org/python/box-pct-employed.jpg" width="432" height="288" />

<img src="http://www.coloradomath.org/python/box-median.jpg" width="432" height="288" />