# Recitation 12 


___

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

### Avocado Prices

**Read in the file** `'avocado.csv'` as a pandas DataFrame called **`dfavo`**. The file, downloaded from kaggle.com, contains Hass Avocado Board data on avocado prices and sales volume in multiple US markets from January 4, 2015, to March 25, 2018.

* **Date:** Date of observation
* **AveragePrice:** Average price of a single avocado
* **TotalVolume:** Total number of avocados sold
* **PLU4046:** Total number of avocados with PLU 4046 sold (small to medium)
* **PLU4225:** Total number of avocados with PLU 4225 sold (large)
* **PLU4770:** Total number of avocados with PLU 4770 sold (extra-large)
* **SmallBags:** Number of small bags sold
* **LargeBags:** Number of large bags sold
* **XLargeBags:** Number of extra-large bags sold
* **Type:** conventional or organic
* **Region:** City or region of observation

In [129]:
dfavo = pd.read_csv('avocado.csv')

### Basic Information
**Write code** to find the following values and store in the designated variables:
* Let **`avo_rows_cols`** be a 2-element tuple `(nrows, ncols)` containing the number of rows and columns, respectively, in `dfavo`
* Let **`avo_col_names`** be the column names of `dfavo` in array format (use `.values`).
* Let **`avo_first_5_rows`** be the first 5 rows of `dfavo`
* Let **`avo_last_2_rows`** be the last 2 rows of `dfavo`

In [121]:
avo_rows_cols = dfavo.shape

In [145]:
avo_col_names = dfavo.columns.values

In [147]:
avo_first_5_rows = dfavo.head()

In [328]:
avo_last_2_rows = dfavo[-2:]

**Run `.info()`** to view information about the DataFrame.

In [89]:
dfavo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15884 entries, 0 to 15883
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       15884 non-null  object
dtypes: object(1)
memory usage: 124.2+ KB

**Run `.describe()`** to view other information about the DataFrame.

In [91]:
dfavo.describe()

                                                        0
count                                               15884
unique                                              15884
top     Date,AveragePrice,TotalVolume,PLU4046,PLU4225,...
freq                                                    1

### Separate U.S. and Regional Data
* Let **`avo_regions`** be an array containing the **distinct** names in the `Region` column. (Use `unique()`.)
* Note that one of the `Region` names is `'TotalUS'`. Use queries to separate the `'TotalUS'` rows from the rest.
  * Let **`dfUS`** be a DataFrame containing the rows with region `'TotalUS'`.
  * Let **`dfRegional`** be a DataFrame containing the remaining rows.

In [191]:
avo_regions = dfavo.Region.unique()

In [195]:
dfUS = dfavo[dfavo.Region == 'TotalUS']

In [388]:
dfRegional = dfavo[dfavo.Region != 'TotalUS']

### Average Prices in the U.S.
For the following commands, **use `dfUS`**.
* Apply `.max()` and `.min()` to `dfUS` to show the max and min values for each column.
* Let **`avgprice_max`** be the largest value in the `AveragePrice` column.
* Let **`avgprice_min`** be the smallest value in the `AveragePrice` column.
* Let **`avgprice_max_rows`** correspond to the 3 rows that contain the highest `AveragePrice`. (You can use `.nlargest(3, 'AveragePrice')`.
* Let **`avgprice_min_rows`** correspond to the 5 rows that contain the lowest `AveragePrice`. (You can use `.nsmallest()`.
* Let **`avgprice_min_dates`** be an **array** containing the dates in **`avgprice_min_rows`**. (Use `.values` to convert a Series into an array. Can you guess why prices were low during those weeks?)

In [197]:
dfUS.max()

Date                 9/6/15
AveragePrice           2.09
TotalVolume     62505646.52
PLU4046         22743616.17
PLU4225         20470572.61
PLU4770          2546439.11
SmallBags        13384586.8
LargeBags        5719096.61
XLargeBags        551693.65
Type                organic
Region              TotalUS
dtype: object

In [199]:
dfUS.min()

Date                  1/1/17
AveragePrice            0.76
TotalVolume        501814.87
PLU4046             77759.93
PLU4225            198874.09
PLU4770                834.3
SmallBags            71807.0
LargeBags           22985.22
XLargeBags               0.0
Type            conventional
Region               TotalUS
dtype: object

In [209]:
avgprice_max = dfUS.AveragePrice.max()

In [211]:
avgprice_min = dfUS.AveragePrice.min()

In [217]:
avgprice_max_rows = dfUS.nlargest(3, 'AveragePrice')

In [348]:
avgprice_min_rows = dfUS.nsmallest(5, 'AveragePrice')

In [354]:
avgprice_min_dates = avgprice_min_rows.values[:5, 0]

### Conventional and Organic
For the following commands, **use `dfRegional`**. 

* Notice that the rows with the smallest `TotalVolume` are for organic avocados and the rows with the largest are for conventional avocados.


* Let **`dfOrg`** represent the rows corresponding to organic avocados.
* Let **`dfConv`** represent the rows corresponding to conventional avocados.


* Let **`org_vol_max_regions`** be an array containing the distinct region(s) with the 5 largest organic `TotalVolume`s. (Use `unique()`.)
* Let **`conv_vol_min_regions`** be an array containing the distinct region(s) with the 5 smallest conventional `TotalVolume`s.

In [248]:
dfavo[dfavo.TotalVolume == dfRegional.TotalVolume.max()]

,Date,AveragePrice,TotalVolume,PLU4046,PLU4225,PLU4770,SmallBags,LargeBags,XLargeBags,Type,Region
1123,2/5/17,0.67,11213596.29,3986429.59,3550403.07,214137.93,3403581.49,7838.83,51205.38,conventional,California

In [250]:
dfavo[dfavo.TotalVolume == dfRegional.TotalVolume.min()]

,Date,AveragePrice,TotalVolume,PLU4046,PLU4225,PLU4770,SmallBags,LargeBags,XLargeBags,Type,Region
11874,11/8/15,1.59,84.56,3.95,3.95,0.0,73.33,3.33,0.0,organic,MiamiFtLauderdale

In [394]:
dfOrg = dfRegional[(dfRegional.Type == 'organic')]

In [398]:
dfConv = dfRegional[dfRegional.Type == 'conventional']

In [504]:
org_vol_max_regions = dfOrg.nlargest(5, 'TotalVolume')['Region'].unique()

In [506]:
conv_vol_min_regions = dfConv.nsmallest(5, 'TotalVolume')['Region'].unique()

### Sorting
For the following commands, use **`dfUS`**. Another (less efficient) way to determine the maximum and minimum values for a column is by sorting.

* Let **`dfUS_sorted`** correspond to `dfUS` but with the rows sorted by `TotalVolume` in **decreasing order**.
* Let **`vol_max_dates`** be an **array** containing the dates in the 5 rows with the highest `TotalVolume`. **Use `dfUS_sorted`.** (Can you guess why the volume was high on those dates?)

In [435]:
dfUS_sorted = dfUS.sort_values(by='TotalVolume', ascending=False)

In [538]:
vol_max_dates = dfUS_sorted[:5].values[:5, 0]
vol_max_dates

array(['2/4/18', '2/5/17', '2/7/16', '5/7/17', '5/8/16'], dtype=object)

___

# Extra Problems
Work on these problems after completing the previous exercises.

### Inserting New Columns
* **Insert a new column `TotalBags`** which equals the sum of the `SmallBags`, `LargeBags`, and `XLargeBags` columns.
* Check `.columns` to see that the column was added.

### Summing Columns
* Let **`totalBags_sum`** equal the sum of the `TotalBags` column. (Use `.sum()`.)
* Verify that the result equals the sum of the `SmallBags`, `LargeBags`, and `XLargeBags` columns.

In [22]:
# totalBags_sum =

### Sorting by Date
For the following commands, use **`dfavo`**.
* **Sort the DataFrame by `Date`** in increasing order. Note that the first few dates are from 2017 and the last few are from 2015, because the dates are not stored in an appropriate format.
* Run **`dfavo.dtypes`**. Note that the data type for the `Date` column is `object`.
* **Change the data type of `Date`** by executing
```
dfavo.Date = dfavo.Date.astype('datetime64[ns]')
```
* Check that the `Date` type has been updated.
* Let **`dfavo_sorted_dates`** correspond to `dfavo` but with the rows sorted chronologically by `Date`. Verify that the first few dates are from January 2015 and the last few from March 2018.
* Note that this change did not affect the data type of `Date` in `dfRegional`.

In [23]:
# dfavo_sorted_dates =

### Plotting DataFrames

* Let **`dfdenverConv`** represent the rows for conventional avocados in the `Denver` region in `dfavo`.  
* Let **`dfdenverOrg`** represent the rows for organic avocados in the `Denver` region.

The following code plots a line graph showing the `TotalVolume` for conventional avocados in the Denver region over time.
```
dfdenverConv.plot('Date', 'TotalVolume')
```
**Plot line graphs** for Denver conventional and organic avocados `TotalVolume` by executing this code and adding the `label=` parameter for the legend.
```
ax = dfdenverConv.plot('Date', 'TotalVolume')
dfdenverOrg.plot('Date', 'TotalVolume', ax=ax)
```
<img src="http://www.coloradomath.org/python/denver-avo-total-vol.jpg" width="372" height="283" />

**Plot line graphs for `AveragePrice`** in the Denver region.

<img src="http://www.coloradomath.org/python/denver-avo-avg-price.jpg" width="372" height="273" />

In [24]:
# dfdenverConv =

In [25]:
# dfdenverOrg =