# Recitation 1
**Name your notebook** `Rec1.ipynb`.

___

Topics: Mathematical operations, data types, variables, printing

### Preliminaries

* **Make sure you have Anaconda installed.**
  * Visit https://www.anaconda.com/download.
  * Select the `Download` button.
  * Based on your operating system (Windows, Mac, or Linux), choose the 64-bit graphical installer (first option). If that doesn't work, try the second option.
* **Set up file folders** for the Python class.

### Download Today's Exercises
* Visit the shared google drive folder for this recitation.
* Download the file `Rec1.ipynb` which contains today's exercises.
* **Open the file** in JupyterLab. Save your work often.
* At the end of class, you will **upload this notebook** to Gradescope.

If you do not finish these exercises during recitation, you must finish them on your own.

---

### Basic Operations

*Answers shown are rounded to 6 decimal digits. It is not necessary for you to round your answers unless instructed to do so.*

Calculate the value of $2^3 - 5\left(4^3 + 7\right)$.

Answer: -347

In [6]:
2**3 - 5 * (4**3+7)

-347

The fractions $\dfrac{7}{9}$ and $\dfrac{2}{99}$ both generate repeating decimals. Verify.

In [10]:
print (7/9, 'and', 2/99)

0.7777777777777778 and 0.020202020202020204

The expression $\dfrac{a^3 - b^3}{a-b}$ always simplifies to an integer. Find the value of $\dfrac{180^3 - 19^3}{180-19}$.

 Answer: `36181.0`

In [11]:
(180**3 - 19**3) / (180 - 19)

36181.0

In Python the `/` operator always returns a floating point value. Use `int()` to convert the previous answer into an `int`.

In [15]:
int(18/3)

6

Compare the difference between `100/6` and `100//6`. (The `//` operator is called the "floor division" operator).

In [17]:
print ('compare', 100/6, 'and', 100//6, '. I see, // rounds it out.')

compare 16.666666666666668 and 16 . I see, // rounds it out

Find the value of $\dfrac{200}{199\cdot 201}$.

Answer: $0.005000$

In [18]:
200 / (199 * 201)

0.0050001250031250786

In [23]:
print (200 / (200*200), 'interesting, the first equation is slightly larger, because 199 * 201 is slightly smaller. Cool.')

0.005 interesting, the first equation is slightly larger, because 199 * 201 is slightly smaller. Cool.

In Python the integer 6, the floating point number 6.0, and the string '6' have different representations. Execute `type(6)`, `type(6.0)`, `type('6')` to verify the data type for each of these expressions.

In [25]:
print (type(6), type(6.0), type('6'), 'they appear in different colors too!')

<class 'int'> <class 'float'> <class 'str'> they appear in different colors too!

Numbers can be expressed in scientific notation. For example, `1e5` corresponds to $10^5$ and `1e-5` corresponds to $10^{-5}$. What do you expect `1e-3 / 1e4 * 1e7` to produce? Check your answer.

In [26]:
1e-3 / 1e4 * 1e7

1.0

### Quotients and Remainders

Find the **quotient** when $3000$ is divided by $17$. Use the `//` operator.

 Answer: `176`

In [27]:
3000 // 17

176

Find the **remainder** when $3000$ is divided by $17$. Use the `%` operator (called the "modulo" or "mod" operator).

 Answer: `8`

In [28]:
3000 % 17

8

Use the `%` operator to calculate the **units digit** of $23^{32}$.

 Answer: `1`

In [30]:
23 ** 32 % 10

1

Use the `%` operator to calculate the **last two digits of $23^{32}$**.

 Answer: `21`

In [31]:
23 ** 32 % 100

21

### Variables

An alternate way to find the value of $\dfrac{180^3 - 19^3}{180-19}$ is to first assign `a=180` and `b=19`, and then simplify the fraction by writing an expression in `a` and `b`.  Try it.

In [32]:
a = 180

In [33]:
b = 19

In [34]:
(a ** 3 - b ** 3)/(a - b)

36181.0

This alternate approach allows you to easily find the value of $\dfrac{1800^3 - 191^3}{1800-191}$.

In [47]:
( (10*a) ** 3 - (10*b+1) ** 3)/((10*a)-(10*b+1)) # I don't know why this method is not working

3811.0

In [36]:
#or

In [37]:
a = 1800

In [ ]:
b = 191

In [39]:
(a ** 3 - b ** 3)/(a - b)

3274561.0

The fraction $\dfrac{a^3 - b^3}{a-b}$ simplifies to $a^2 + ab + b^2$. Check that this is true for $a=1800$ and $b=191$.

In [40]:
a ** 2 + a*b + b ** 2

3274561

### Multiple Assignment
It is possible to assign values to several variables in a single statement. For example, try this:
```
a, b, c = 3, 4, 5
a**2 + b**2 - c**2
```

In [42]:
a, b, c = 3, 4, 5

In [43]:
a**2 + b**2 - c**2

0

When you place commas between expressions, you are implicitly creating a `tuple` which wraps parentheses (sometimes invisible) around the expressions. A `tuple` is similar to a list. For example, what is the output for `7, 11, 171`?

In [44]:
7, 11, 171

(7, 11, 171)

### Math module
The `math` module contains many basic math functions. You can read about them here: https://docs.python.org/3/library/math.html.

Be sure to `import math` before beginning these exercises.

In [46]:
import math

Square roots can be calculated in two ways: by calling the `math.sqrt()` function or by raising a number to the power $\frac 12$. **Calculate $\sqrt{200}$** using both methods.

In [48]:
math.sqrt(200)

14.142135623730951

In [49]:
200 ** (1/2)

14.142135623730951

The `math.pi` constant returns the value of $\pi$. Try it.

In [50]:
math.pi

3.141592653589793

The `round()` function takes two arguments. 

Example: `round(5/3, 2)` returns `1.67` which equals $5/3$ rounded to 2 decimal digits.

**Display the value of $\pi$ rounded to 5 decimal digits.** Note that there is a maximum number of digits that can be displayed because of the way floating point numbers are stored.

In [57]:
round( math.pi, 5) # the maximum digits is 15

3.14159

### Strings

Text strings can be enclosed in single or double quotes. Check that 'moo' and "moo" produce the same output.

In [58]:
'moo'

'moo'

In [59]:
"moo"

'moo'

If you wish to insert single quotes inside a text string, the string must be enclosed in double quotes. Compare "Dot's Diner" and 'Dot's Diner'.

In [60]:
"Dot's Diner"

"Dot's Diner"

In [61]:
'Dot's Diner'

SyntaxError: unterminated string literal (detected at line 1) (1582325676.py, line 1)

It is possible to "add" strings. What does `'cow' + 'pig'` produce?

In [62]:
'cow' + 'pig'

'cowpig'

It is also possible to "multiply" strings. What does `5 * 'pig'` produce?

In [63]:
5 * 'pig'

'pigpigpigpigpig'

Compare the output for `5 * 7` and `5 * '7'`.

In [64]:
5 * 7

35

In [65]:
5 * '7'

'77777'

### Printing
When you `print()` a string, the enclosing quotes do not appear. Compare `"pig"` and `print("pig")`.

In [66]:
print ("pig")

pig

In [67]:
"pig"

'pig'

What is the output for this code?
```
n = 50
print('There are', n, 'students in this class.')
```

In [68]:
n = 50

In [69]:
print ('There are', n, 'students in this class.')

There are 50 students in this class.

Use a `print()` statement to display the following equation. Let `n = 50`, then use `n` **three times** in the `print()` statement.
```
50 + 50 = 100
```

In [70]:
n = 50

In [113]:
print ( n, '+', n, '=', 2*n)

50 + 50 = 100

Use the `*` operator to print this pattern without writing out each character. There are 15 CUs in each row.
```
CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
 CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
  CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
   CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
```

In [81]:
print (15*'CU ') 
print ('  ', 15*'CU ')
print ('    ', 15*'CU ')
print ('      ', 15*'CU ')

CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
   CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
     CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
       CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU

### Exponentials and Logarithms

Use the `math.e` constant and `round()` function to display the value of natural $e$ rounded to 3 decimal digits.

In [82]:
round(math.e, 3)

2.718

An alternate way to generate $e$ is to use the `math.exp()` function which raises $e$ to a given power. Try it.

In [88]:
math.exp(2)

7.38905609893065

The `math.log()` function with one argument corresponds to $\ln(x)$. Write code to evaluate $\left\lvert\, 3\ln \left(1 - 2e^{-5} \right)\,\right\rvert$. Use the `abs()` built-in function.

 Answer: `0.040703`

In [91]:
abs( 3 * math.log(1 - 3*math.exp(-5) ) )

0.061262808680871306

There is also a `math.log10()` function for logarithms in base 10. What do you expect `math.log10(1e-5)` to produce? Check your answer.

In [114]:
math.log10(1e-5)

-5.0

For other logarithms, you can pass a second argument, corresponding to the base of the logarithm, to `math.log()`. For example, `math.log(1/8, 2)` returns `-3.0`.

What does $\log_3{\left(9^{-4}\right)}$ simplify to? Check your answer.

In [121]:
math.log(9 ** -4, 3)

-8.0

### Upload Your Work to Gradescope

Please upload this notebook in **.ipynb** format. 

* Make sure this notebook is named `Rec1.ipynb`.
* From Canvas, select `Gradescope`.
* In Gradescope, select the assignment called `Rec1.ipynb` and upload your file.
* If you do not complete the exercises during class, you may resubmit your file up to a week late. Multiple submissions are allowed.

For future recitations, you will need to convert your file to `.py` format and submit your code to Gradescope for autograding.

---

## Extra Problems
Work on these problems after completing the previous exercises.

### Printing
Print this pattern. Use the `*` operator.
```
CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU 
      CU CU CU CU CU CU CU CU CU CU CU 
            CU CU CU CU CU CU CU 
                  CU CU CU 
```

In [127]:
print ( 15 * 'CU ')
print ( '     ', 11 * 'CU ')
print ( '           ', 7 * 'CU ')
print ( '                 ', 3 * 'CU ')

CU CU CU CU CU CU CU CU CU CU CU CU CU CU CU
      CU CU CU CU CU CU CU CU CU CU CU
            CU CU CU CU CU CU CU
                  CU CU CU

Use `print` and `*` to create your own patterns.

I feel like there should be a shortcut to the spacing and not just pressing space multiple times.

### Readings

See the Canvas Readings page for documentation on Python.

Good reads, thank you.