# Recitation 2
**Name your notebook `Rec2.ipynb`.** At the end of class, you will convert the notebook to `.py` format and upload to Gradescope for autograding.

___

In [526]:
import math

### Circle Circumference and Area
Write a function **`circ_circum(r)`** that returns the circumference of a circle given the radius.

Example:  
`circ_circum(5)` returns `31.415927`.

Write a function **`circ_area(r)`** that returns the area of a circle given the radius.

Example:  
`circ_area(5)` returns `78.539816`.

In [529]:
def circ_circum(r):
    return math.pi * 2 * r

In [530]:
circ_circum(5)

31.41592653589793

In [531]:
def circ_area(r):
    return math.pi * r ** 2

In [532]:
circ_area(5)

78.53981633974483

### Hypotenuse
Write a function **`hypot(a, b)`** that calculates the length of the hypotenuse of a right triangle given the leg lengths. Assume that `a` and `b` are numbers. Your function should check that `a` and `b` are positive. If not, it should print the message `'Error: The arguments must be positive'` and return `0`.

Example:  
`hypot(7, 24)` returns `25.0`.  
`hypot(3, 0)` displays `'Error: The arguments must be positive'` and returns `0`.

In [534]:
x = False
y = False 

x or y

False

In [535]:
a = 4
a <= 3

False

In [536]:
if x or y:
    print('x or y was true')
else:
    print('x and y were both not true')

x and y were both not true

In [537]:
def hypot(a, b):
    if a > 0 and b > 0:
        return math.sqrt( a ** 2 + b ** 2)
    else:
        print('Error: The arguments must be positive')
        return 0

In [538]:
hypot(7, 24)

25.0

In [539]:
hypot(3, 0)

Error: The arguments must be positive

0

### Strings
Write a function **`unword(word)`** that concatenates the string 'un' to the beginning of a string `word`.

Example:  
`unword('tie')` returns `'untie'`.<br>
`unword(unword('tie'))` returns `'ununtie'`.

In [541]:
def unword(word):
    return 'un' + word

In [542]:
unword('tie')

'untie'

In [543]:
unword(unword('tie'))

'ununtie'

Write a function **`wordword(word)`** that concatenates a `word` string to itself.

Example:  
`wordword('aye ') + 'sir'` returns `'aye aye sir'`.

In [545]:
def wordword(word):
    return word * 2

In [546]:
wordword('aye ') + 'sir'

'aye aye sir'

### Non-Negative Numbers

Write a function **`nonneg(a, b)`** that returns `True` if `a` and `b` are both not negative. Your code should not use an `if` statement.

Examples:  
`nonneg(2.5, 0)` returns `True`.<br>
`nonneg(-2.5, 0)` returns `False`.

In [548]:
a = True
b = True

a and b

True

In [549]:
def nonneg(a, b):
    return a >= 0 and b >= 0

In [550]:
nonneg(2.5, 0)

True

In [551]:
nonneg(-2.5, 0)

False

### Last Digit

Write a function **`ends_in_digit(num, d)`** that returns `True` if `num` ends in the digit `d`. Assume that `num` and `d` are integers and that `d` ranges from 0 to 9. Your code should not use an `if` statement.

Examples:  
`ends_in_digit(1287, 7)` returns `True`.<br>
`ends_in_digit(1287, 8)` returns `False`.

In [554]:
1 == 1

True

In [555]:
def ends_in_digit(num, d):
    return num % 10 and num % 10 == d

In [556]:
ends_in_digit(1287, 7)

True

In [557]:
ends_in_digit(1287, 8)

False

---

# Extra Problems
Work on these problems after completing the previous exercises.

### Truncate a Numer

Write a function **`truncate(num)`** that removes the units digit of `num`. If `num` is a single-digit number, return `0`. Assume that `num` is a positive integer.

Examples:  
`truncate(1984)` returns `198`.<br>
`truncate(9)` returns `0`.

In [560]:
def truncate(num):
    return num // 10

In [561]:
truncate(1984)

198

In [562]:
truncate(9)

0

### Trigonometry

Write a function **`trig_vals(angle)`** that prints out the six basic trig values for an angle given in degrees. Assume that `angle` is strictly between $0$ and $90$. The trig values should be rounded to 4 decimal places. (*Note:* The `math` module does not have functions for cot, sec, or csc.)

Example: `trig_vals(30)` displays
```
sin 30 = 0.5
cos 30 = 0.866
tan 30 = 0.5774
cot 30 = 1.7321
sec 30 = 1.1547
csc 30 = 2.0
```

In [565]:
def trig_vals(angle):
    print ('sin', angle, "=", round(math.sin (math.radians(angle)), 4))
    print ('cos', angle, "=", round(math.cos (math.radians(angle)), 4))
    print ('tan', angle, "=", round(math.tan (math.radians(angle)), 4))
    print ('cot', angle, "=", round(1 / (math.tan (math.radians(angle))), 4))
    print ('sec', angle, "=", round(1 / (math.cos (math.radians(angle))), 4))
    print ('csc', angle, "=", round(1 / (math.sin (math.radians(angle))), 4))

In [566]:
trig_vals(30)

sin 30 = 0.5
cos 30 = 0.866
tan 30 = 0.5774
cot 30 = 1.7321
sec 30 = 1.1547
csc 30 = 2.0

### Even and Odd Parity

Write a function **`same_parity(a, b)`** that returns `True` if `a` and `b` are both even or both odd. Assume that the arguments are both integers. Write the function without an `if` statement.

Examples:  
`same_parity(16, 100)` returns `True`.<br>
`same_parity(16, 101)` returns `False`.<br>
`same_parity(17, 101)` returns `True`.

In [568]:
def same_parity(a, b): 
    return (a % 2 == 0 and b % 2 == 0) or (a % 2 == 1 and b % 2 == 1)

In [569]:
same_parity(16, 100)

True

In [570]:
same_parity(16, 101)

False

In [571]:
same_parity(17, 101)

True

### Number Digits
Write a function **`num_digits(num)`** that returns the number of digits in `num`. Assume that `num` is a positive integer. Use `math.log10()`.

In [573]:
def num_digits(num):
    return round(math.log10(num * math.e))

In [574]:
num_digits(12345678)

8

Write a function **`chop(num)`** that removes the first digit of `num`. If `num` is a single-digit number, return `0`.

In [576]:
def chop(num):
    return num % 10 ** (round(math.log10(num * math.e))-1)

In [577]:
chop(12345678)

2345678

### A Birthday Trick

Actually this is a date trick. Write a function **`birthday(m, d, y)`** that takes a date of birth with month `m` (1-12), day `d` (1-31), and 4-digit year `y`, performs the following computations, and returns the result as an integer.

* Add 18 to `m`.                               
* Multiply by 25.                              
* Subtract 333.                                
* Multiply by 8.                               
* Subtract 554.                                
* Divide by 2.                                 
* Add birth day `d`.                           
* Multiply by 5.                               
* Add 692.                                     
* Multiply by 20.                              
* Add the last two digits of the birth year `y`.
* Subtract 32940.                              
 
Examples:   
`birthday(12, 25, 1998)` returns `122598`.<br>
`birthday(9, 1, 2020)` returns `90120`.

In [579]:
def birthday(m, d, y):
    1 <= m <= 12
    1 <= d <= 31
    1000 <= y <= 9999
    return (((((18 + m) * 25 - 333 ) * 8 - 554 )/2 + d ) * 5 + 692)* 20 + (y % 100) - 32940

In [580]:
birthday(12, 25, 1998)

122598.0

In [581]:
birthday(9, 1, 2020)

90120.0

Now write a much shorter function **`birthday2(m, d, y)`** that returns the same value.

In [583]:
def birthday2(m, d, y):
    1 <= m <= 12
    1 <= d <= 31
    1000 <= y <= 9999
    return 10000 * m + 100 * d + (y % 100)

In [584]:
birthday(6, 5, 2007)

60507.0

In [585]:
birthday(9, 1, 2020)

90120.0

___

### Upload Your Work to Gradescope for Autograding

**You must submit your Lab solutions to the autograder at the end of class even if your work is incomplete.**
* In Jupyter, select `Run` $\to$ `Run All Cells` and make sure there are no errors in your code. Comment out any non-working code.
* Select `File` $\to$ `Export Notebook as` $\to$ `Executable Script`. This will create an executable `.py` version of your notebook. (On some computers, you will `Download` to `.py` format.)
* **The file must be named `Rec2.py`**.
* In Gradescope, select the `Rec2.py` assignment and upload your `Rec2.py` file.
* Your solutions will be autograded. Some test cases may be hidden. Correct answers will be shown in green. Incorrect answers will be shown in red.
* If you do not complete the exercises during class, you may resubmit your file up to a week late. Multiple submissions are allowed.
* **Important: Your file must be in the correct format**. If the autograder is unable to grade your work, a score of zero will be given to the assignment.