# Recitation 3
**Name your notebook `Rec3.ipynb`.**

___

In [1]:
import math

### Basic List Operations
Consider the list **`nums = [900, 850, 800, 750, 700, 650, 600, 550]`**.

Write commands to do the following:
* Create the list `nums` using `range`.
* Find the number of elements in `nums`.
* Sum the elements in `nums`.
* Sort `nums`.
* Select the second element in `nums`.
* Select the last element in `nums`. (Use a negative index.)
* Change `nums` by inserting the number `2` to the end of the list to make<br>
`[900, 850, 800, 750, 700, 650, 600, 550, 2]`.

In [3]:
nums = [900, 850, 800, 750, 700, 650, 600, 550]

In [12]:
list(range(900, 500, -50))

[900, 850, 800, 750, 700, 650, 600, 550]

In [14]:
len(nums)

8

In [17]:
sum(nums)

5800

In [22]:
nums[1]

850

In [24]:
nums[-1]

550

In [55]:
nums + [2]

[900, 850, 800, 750, 700, 650, 600, 550, 2]

### Tuple Selection and Slicing
The syntax for selecting list elements or slicing a list (using `:`) can be used for tuples also. Select these elements from 

`tup = ('Ralph', 123456789, 'Folsom', 80309, 'buff')`
* Every other element starting with the first element: `('Ralph', 'Folsom', 'buff')`
* All of the elements except the first two elements: `('Folsom', 80309, 'buff')`
* All of the elements except the last two elements (using a negative index): `[('Ralph', 123456789, 'Folsom')` 
* Select the next to last element (using a negative index): `80309`

In [34]:
tup = ('Ralph', 123456789, 'Folsom', 80309, 'buff')

In [40]:
tup[0:5:2]

('Ralph', 'Folsom', 'buff')

In [46]:
tup[2:5]

('Folsom', 80309, 'buff')

In [50]:
tup[-5:-2]

('Ralph', 123456789, 'Folsom')

In [59]:
tup[-2]

80309

### Unpacking a Tuple
Multiple assignment can be used to assign each element of a tuple to a different variable. For example, given the tuple
```
student = ('Ralph', 123456789)
```
the assignment
```
name, sid = student
```
is equivalent to
```
name = student[0]
sid = student[1]
```
Try it.

In [67]:
student = ('Ralph', 123456789)

In [71]:
name, sid = student

### Name to String
Write a function **`name_to_str(name_tup)`** that takes a name in the form of a tuple `(first, middle, last)` consisting of three strings, and returns a string representation `last, first m` where `m` is the middle initial. If `middle` is an empty string `''`, the output string will be `last, first`. 

**Use the multiple assignment unpacking** shown above  (*not* indexing with 0 and 1) to extract the names from the tuple. Note the double sets of parentheses in the function calls below.

Examples:<br />
`name_to_str(('Louisa', 'May', 'Alcott'))` returns `'Alcott, Louisa M'`<br />
`name_to_str(('Louisa', '', 'Alcott'))` returns `'Alcott, Louisa'`

In [118]:
def name_to_str(name_tup):
    first, middle, last = name_tup
    if middle == '':
        return (last + ', ' + first)
    else: 
        return (last + ', ' + first + ' ' + middle[0])

In [105]:
name_to_str(('Louisa', 'May', 'Alcott'))

'Alcott, Louisa M'

In [120]:
name_to_str(('Louisa', '', 'Alcott'))

'Alcott, Louisa'

### Optional Arguments
When defining a function, one can specify that some arguments are optional by assigning default values to them. For example,
```
def incr_num(num, incr=1):
    return num + incr
```
will increment `num` by `incr` if specified. Otherwise it will assign a default value of 1 to the argument `incr`. Note that optional arguments must be placed at the end of the list of arguments. For this function, the argument `incr` must follow `num` in the `def` statement. 

Examples:<br>
`incr_num(25, 10)` returns `35`.<br>
`incr_num(25)` returns `26`.

Try calling this function with 1 or 2 arguments.

In [122]:
def incr_num(num, incr=1):
    return num + incr

In [124]:
incr_num(25, 10)

35

In [126]:
incr_num(25)

26

### First and Last Elements of a List
Write a function **`first_last(alist)`** that takes a list and returns the first and last elements in a new list. Assume that `alist` is a non-empty `list`.

Example:  
`first_last([3, 5, 10, 14])` returns `[3, 14]`.<br>
`first_last(['bon'])` returns `['bon', 'bon']`.

In [136]:
def first_last(alist):
    return [alist[0], alist[-1]]

In [138]:
first_last([3, 5, 10, 14])

[3, 14]

In [142]:
first_last(['bon'])

['bon', 'bon']

Write a function **`first_last_eq(alist)`** that returns `True` if the first and last elements of `alist` are equal. Assume that `alist` is a non-empty`list`.

In [144]:
def first_last_eq(alist):
    return alist[0] == alist[-1]

In [148]:
first_last_eq([1, 2, 1])

True

In [151]:
first_last_eq([1, 2, 3])

False

### Shrink a List
Write a function **shrink(alist)** that takes a list and returns a new list with the first and last elements removed. Assume that `alist` is a `list`. If `alist` has two or fewer elements, the function returns an empty list. 

Example:  
`shrink([1, 2, 3, 4, 5])` returns `[2, 3, 4]`.<br>
`shrink([5])` returns `[]`.

In [154]:
def shrink(alist):
    Last_2 = len(alist) - 1
    return alist[1:Last_2]

In [156]:
shrink ([1, 2, 3, 4, 5])

[2, 3, 4]

In [158]:
shrink ([5])

[]

### Duplicate a List Element

Write a function **`dup_elt(alist, pos=0)`** that takes a list and expands it by duplicating the element in position `pos`, returning a new list. Assume that `alist` is a non-empty `list` and `pos` is a non-negative `int`. If `alist[pos]` does not exist, return `alist` unchanged.

**Optional argument**: The argument specification `pos=0` assigns the default value of `0` to `pos` if omitted from the function call.

Example:  
`dup_elt([1, 2, 100, 8])` returns `[1, 1, 2, 100, 8]`.<br>
`dup_elt([1, 2, 100, 8], 2)` returns `[1, 2, 100, 100, 8]`.<br>
`dup_elt([1, 2, 100, 8], 10)` returns `[1, 2, 100, 8]`.

In [318]:
def dup_elt (alist, pos=0):
    if pos < len(alist):
        alist = alist[:pos] + [alist[pos]] + alist[pos:]
        return alist
    else:
        return alist

In [320]:
dup_elt([1, 2, 100, 8])

[1, 1, 2, 100, 8]

In [322]:
dup_elt([1, 2, 100, 8], 2)

[1, 2, 100, 100, 8]

In [324]:
dup_elt([1, 2, 100, 8], 10)

[1, 2, 100, 8]

---

## Extra Problems
Work on these problems after completing the previous exercises.

### Number of Digits
Write a function **`num_digits(num)`** that returns the number of digits in `num` **using string operations**. (Do *not* use `math.log10`.) Assume that `num` is a positive `int`. 
(*Hint:* What do `str(2021)` and `int(str(2021))` produce?)

### Rotate digits of a number
Write a function **`rotate(num)`** that shifts the digits of a number by one position to the left with wraparound. **Use string operations.** You may assume that `num` is an `int`.

Example:  
`rotate(12345)` returns `23451`.<br>
`rotate(6)` returns `6`.

Write another version of `rotate` called **`rotate2(num)`**, this time using arithmetic operations.

### Rotate digits of a number
Write a function **`rotate_LR(num, npos, dir)`** that rotates the digits of a number by `npos` positions with wraparound. The direction of rotation is either left or right: `dir='L'` (the default) or `'R'`. You may assume that `num` and `npos` are positive `int`s. Use either string or arithmetic operations.

Example:  
`rotate_LR(654321, 2)` returns `432165`.<br>
`rotate_LR(654321, 2, 'R')` returns `216543`.<br>
`rotate_LR(6, 4)` returns `6`.

### Approximating Pi

In ancient times Archimedes approximated the value of $\pi$ by calculating the areas of inscribed and circumscribed regular polygons in a unit circle. Note that an inscribed polygon will underestimate the value of $\pi$, providing a lower bound, and a circumscribed polygon will overestimate the value of $\pi$, providing an upper bound.

Write a function **`inscribed_ngon_area(n)`** that returns the area of a regular $n$-sided polygon inscribed in a unit circle. Assume that `n` is an `int` greater than or equal to 3. (*Hint:* Note that a regular $n$-gon can be divided into $n$ congruent isosceles triangles. See the example below for $n=8$. Do not look up the formula on the internet.)

Example:  
`inscribed_ngon_area(8)` returns `2.828427`.

<img src="http://www.coloradomath.org/python/inscribed-polygon.png" width=231 />

Write a function **`circumscribed_ngon_area(n)`** that returns the area of a regular $n$-sided polygon inscribed in a unit circle. Assume that `n` is an `int` greater than or equal to 3. Do not look up the formula on the internet.

Example:  
`circumscribed_ngon_area(8)` returns `3.313708`.

<img src="http://www.coloradomath.org/python/circumscribed-polygon.png" width=275 />